body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    border-style: dotted;
    margin: 15px;
    border-color: blue;
    border-radius: 40px;
}

.line {
    width: 100px;
    height: 10px;
    background-color: #001eff;
    margin: 8px auto;
}

p {
    font-size: 50px;
    color: #001eff;
}

.Menu {
    list-style: none;
    font-family: monospace;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    color: black;
    font-size: 25px;
    font-family: fantasy;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.links:hover {
    background-color: yellow;

}

#about {
    position: absolute;
    overflow: hidden;
    height: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.80;
    color: #2b36ff;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(#001eff 0%, #ff0000 100%);
    z-index: 9;
    margin-bottom: 10px;
}

#hobby {
    background-image: repeating-linear-gradient(to bottom right, #00ff44 0%, #ff0000 50%, #002aff 100%);
    z-index: 8;
    margin-top: 10px auto;
}
